<header>
  <nav class="bounce-in-top">
    <div class="logo">Jhonnier Hernandez</div>
    <div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <section id="home" class="bounce-in-top">
    <h1>FullStack Developer</h1>
    <p>
      Hi!<br /><strong>I'm Jhonnier</strong>, fullstack web developer
      specialized in
      <span class="angular"><strong>Angular</strong></span>
    </p>
    <a
      href="https://www.canva.com/design/DAFlSG8Y-HE/wtmZEy2h-iZvuxdgP4brlg/view?utm_content=DAFlSG8Y-HE&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
      target="_blank"
      >View CV</a
    >
  </section>
  <section id="about" class="about">
    <h2>About me</h2>
    <p>
      I'm a Systems Engineering student. I live in Santiago de Cali, Colombia. I
      am <strong>deeply passionate</strong> about programming and thrive on
      learning something new every day. <br /><br />
      Currently, my focus lies in the field of web development, which
      encompasses various areas such as <strong>web design</strong>,
      <strong>responsive design</strong>, and <strong>user experience</strong>,
      among others. <br /><br />
      While I acknowledge that I am still on the path to becoming an expert, my
      goal is to become a
      <strong>skilled web developer</strong>
      capable of proficiently handling all these aspects and delivering
      comprehensive solutions.
    </p>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <div class="skills-set">
      <div class="skill">
        <img src="../assets/angular-icon-1.svg" alt="angular logo" />
      </div>
      <div class="skill">
        <img src="../assets/javascript-1.svg" alt="javascript logo" />
      </div>
      <div class="skill">
        <img src="../assets/typescript.svg" alt="typescript logo" />
      </div>
      <div class="skill">
        <img src="../assets/css-3.svg" alt="css3 logo" />
      </div>
      <div class="skill">
        <img src="../assets/html-1.svg" alt="html logo" />
      </div>
      <div class="skill">
        <img src="../assets/nodejs-1.svg" alt="node.js logo" />
      </div>
      <div class="skill">
        <img src="../assets/mysql-6.svg" alt="mysql logo" />
      </div>
      <div class="skill">
        <img src="../assets/mongodb-icon-1.svg" alt="mongodb logo" />
      </div>
      <div class="skill">
        <img src="../assets/python-5.svg" alt="python logo" />
      </div>
      <div class="skill">
        <img src="../assets/java-14.svg" alt="java logo" />
      </div>
      <div class="skill">
        <img src="../assets/c.svg" alt="c++ logo" />
      </div>
      <div class="skill">
        <img src="../assets/git-icon.svg" alt="git logo" />
      </div>
    </div>
  </section>

  <section id="contact">
    <h2>CONTACT</h2>
    <form action="">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <label for="subject">Subject</label>
      <input type="text" name="subject" id="subject" />
      <textarea
        name="comment"
        id="comment"
        cols="auto"
        rows="10"
        placeholder="Write a comment. I'll be glad to read it!"
      ></textarea>
      <p><a href="">Send</a></p>
    </form>
  </section>
</main>

<footer>
  <h2>CONTACT INFO</h2>
  <p>
    <a href="mailto:jhonnier.hernandez@correounivalle.edu.co"
      >jhonnier.hernandez@correounivalle.edu.co</a
    >
  </p>
  <p>315-373-6189</p>
  <p>
    <a
      href="https://www.linkedin.com/in/jhonnier-hernandez-538442250/"
      target="_blank"
      >Linkedin</a
    >
    <a href="https://github.com/Hazzard1912?tab=repositories" target="_blank"
      >Github</a
    >
  </p>
  <div><p>TEST WEBSITE</p></div>
</footer>


